<div class="well well-sm h4">
	<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Station ambience <%= audio_tag "http://metexv2.sblorgh.org/media/audio/#{sound.filename}", controls: true, autobuffer: true %>
</div>