<% content_for :title, "Places of interest" %>
<div class="jumbotron">
	<div class="container">
		<h1>Places of interest</h1>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="list-group">
			<%= render @places %>
		</div>
	</div>
</div>
