<!DOCTYPE html>
<html>
<head>
  <title>MétEX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- echo $this->Html->link('mét<strong>ex</strong>', '/', array('class' => 'navbar-brand', 'escape' => false)); -->métex
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><!-- echo $this->Html->link('lines', array('controller' => 'lines', 'action' => 'index')); -->lines</li>
					<!--<li><?php echo $this->Html->link('stations', array('controller' => 'stations', 'action' => 'index')); ?></li>-->
				</ul>
			</div>
		</div>
	</nav>
<%= yield %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<p class="well well-sm text-center"><small>&copy;2005-2015 Richard Whittaker - Milestone <em>Auber</em> - <!-- echo $this->Html->link('Please report any bugs on GitHub', 'https://github.com/PkerUNO/MetEX/issues', array('confirm' => 'Please report only bugs and suggestions to do with the workings of the site and not the content. I am aware the line data and photos are out of date, these will be updated in a future version.')); --></small></p>
			</div>
		</div>
	</div>
</body>
</html>
